.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
# .vscode
# tests
..Rcheck
.Rbuildignore
meta
sub/
env/

# Raw/large genomic data files
*.bam
*.bai
*.cram
*.crai
*.vcf
*.fastq
*.fq
*.bigWig
*.bedGraph
*.wig
*.sra
